*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header
{
    background-color: #11774e;
    display: flex;
    align-items: center;
}
.playSong .image 
{
    border-radius: 20px;
}

.playSong .image img
{
   width: 300px;
   overflow: hidden;
   padding: 50px;
}
header .info
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 60px;
}
header .info .title
{
  font-size: 25px;
  font-weight:  bold;
  color: #fff;
}
header .info .NameSong
{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
header .info-author
{
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: #fff;
}
header .info-author li:nth-child(1)
{
    font-weight: 600;
    list-style-type: none;
}
header .info-author li:nth-child(2)
{
    font-weight: 600;
}

header .info-author li:not(:nth-child(1)):not(:nth-child(2))
{
    opacity: 0.8;
}
/* body */
.body
{
    background: linear-gradient(to bottom , #0c2c1d 0%, #0a2518 30%, #121212 70%, #121212 100%);

}
.body .btn-head
{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 50px;
}
.body .btn-head .btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
.body .btn-header-play {
    background-color: #3BE477;
    border-radius: 50%;
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-header-play .icon-pause
{
  display: none;   
  color: #000;
}
 .btn-header-play.active .icon-pause
{
    display: inline-block;
}
 .btn-header-play.active .icon-play
{
   display: none;
}
.btn-random.active .fa-random
{
    color: #097e4f;
}
.btn-repeat.active .fa-redo{
    color: #097e4f;
}
.body .btn-head .btn:nth-child(1)
{
    width: 56px;
    height: 56px;
    object-fit: contain;
}
.body .btn-head .btn:not(:nth-child(1))
{
    width: 32px;
    height: 32px;
    object-fit: contain;
}
.lyrics
{
    max-width: 986px;
    padding: 10px 50px;

}
.lyrics .name
{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.lyrics .lyrics-song {
    color: #fff;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 6;   /* ❗ Chỉ hiển thị 6 dòng đầu */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
  }
  .show-more {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }
  .lyrics-song {
    white-space: pre-line;
    color: #fff;
    opacity: 0.7;
  }
  /* recommended */
  .recommended
  {
    margin-top: 25px;
    padding:10px 50px 200px 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
.recommended .title-rcm
{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}
.song-rcm.show{
    background-color: #121212;
    border-radius: 10px;
}
.recommended .image-song-rcm img
{
    width: 100%;
    height: 100%;
}
.recommended .image-song-rcm
{
  overflow: hidden;
  width: 70px;
  height: 70px;
  object-fit: cover;
  
}
.recommended .info-song-rcm
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.recommended .song-rcm
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
}
.recommended .name-song-rcm h4
{
    font-size: 20px;
    margin-bottom: 10px;
}
.recommended .name-song-rcm p
{
    font-size: 16px;
    opacity: 0.8;
}
.recommended .time-song
{
    font-size: 18px;
    opacity: 0.8;
}
.recommended .quantity p
{
    font-size: 18px;
    opacity: 0.8;
}
footer
{
    width: 100%;
    background-color: #000;
    padding: 20px 50px;
    position: fixed;
    bottom: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
footer .fotter-song
{
    display: flex;
    max-width: 250px;
    width: 100%;
    align-items: center;
    gap: 20px;
}
footer .image-footter
{
    overflow: hidden;
    object-fit: cover;
    width: 60px;

}
footer .image-footter img
{
    width: 100%;
    height: 100%;
}
footer .info-footer h4
{
    font-size: 22px;
    margin-bottom: 10px;
}
footer .info-footer p
{
    font-size: 18px;
    opacity: 0.8;

}
footer .control
{
    display: flex;
    align-items: center;
}
footer .btn-fotter-song .control .btn
{
    color: #b3b3b3;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
footer .btn-toggle-play .icon-play
{
    color: #000;

}

footer .btn-toggle-play
{
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.2s ease;

   
}

 .btn-toggle-play .icon-pause
{
  display: none;   
  color: #000;
}
 .btn-toggle-play.active .icon-pause
{
    display: inline-block;
}
 .btn-toggle-play.active .icon-play
{
   display: none;
}

.btn-fotter-song .range-song
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

}
.control .btn:not(:nth-child(2)):hover
{
   color: #fff;
}
.control .btn-toggle-play:hover
{
    transform: scale(1.08);
}
.control .fa-random.playing
{
    color: #097e4f;
}
.control .fa-redo.playing
{
    color: #097e4f;
    
}

.input-rage-song
{
    width: 100%;
    -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  border-radius: 20px;
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.input-rage-song::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #fff; /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
  }
.range-volume
{
    width: 100%;
    -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  border-radius: 20px;
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.range-volume::-webkit-slider-thumb
{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #fff; /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
}
.input-rage-song:hover
{
    opacity: 1;
}
.input-rage-song

{
    display: flex;
    align-items: center;
    gap: 20px;
}
.audio-song
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-audio
{
    margin-top: 5px;
}